<%- include header %>
<form method="post">
	<div class="form-group">
		<input type="text" class="form-control" name="title" placeholder="标题" value="<%= art.title %>">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" name="tag" placeholder="标签" value="<%= art.tag %>">
	</div>
	<textarea name="content" id="" cols="30" rows="10" class="form-control" placeholder="文章内容"><%= art.content %></textarea>
	<button type="submit" class="btn btn-default">保存</button>
</form>	
<%- include footer %>